<a href="https://colab.research.google.com/github/ashpou1/data-processing-4313/blob/main/cleaning%20strings%2015.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ASHOK SHARMA POUDEL  
#218380  
#DATA PROCESSING VISUALIZATION  4313 
#DR. NICHOLAS JACOB

## STRINGS AND CLEANING

In [42]:
import requests
import pandas as pa
from bs4 import BeautifulSoup


r = requests.get('https://en.wikipedia.org/wiki/List_of_highest_mountains_on_Earth')
html_contents = r.text
html_soup = BeautifulSoup(html_contents,"lxml")
tables = html_soup.find_all('table',class_="wikitable")

In [2]:
df1 = pa.read_html(str(tables))[0]
df1.head()

  Rank[dp 1]  ... Country (disputed claims in italics)
  Rank[dp 1]  ... Country (disputed claims in italics)
  Rank[dp 1]  ... Country (disputed claims in italics)
0          1  ...                           NepalChina
1          2  ...              Pakistan[dp 8]China[12]
2          3  ...                           NepalIndia
3          4  ...                           NepalChina
4          5  ...                           NepalChina

[5 rows x 13 columns]

In [3]:
df1.columns = df1.columns.droplevel(0).droplevel(0)
df1.head()

  Rank[dp 1]  ... Country (disputed claims in italics)
0          1  ...                           NepalChina
1          2  ...              Pakistan[dp 8]China[12]
2          3  ...                           NepalIndia
3          4  ...                           NepalChina
4          5  ...                           NepalChina

[5 rows x 13 columns]

Just trying to replace the name to Mount Everest

In [6]:
df1.iloc[0,1]

'.mw-parser-output ul.cslist,.mw-parser-output ul.sslist{margin:0;padding:0;display:inline-block;list-style:none}.mw-parser-output ul.cslist-embedded{display:inline}.mw-parser-output .cslist li,.mw-parser-output .sslist li{margin:0;padding:0 0.25em 0 0;display:inline-block}.mw-parser-output .cslist li:after{content:", "}.mw-parser-output .sslist li:after{content:"; "}.mw-parser-output .cslist li:last-child:after,.mw-parser-output .sslist li:last-child:after{content:none}Mount EverestSagarmathaChomolungma'

In [8]:
df1.replace('.mw-parser-output ul.cslist,.mw-parser-output ul.sslist{margin:0;padding:0;display:inline-block;list-style:none}.mw-parser-output ul.cslist-embedded{display:inline}.mw-parser-output .cslist li,.mw-parser-output .sslist li{margin:0;padding:0 0.25em 0 0;display:inline-block}.mw-parser-output .cslist li:after{content:", "}.mw-parser-output .sslist li:after{content:"; "}.mw-parser-output .cslist li:last-child:after,.mw-parser-output .sslist li:last-child:after{content:none}Mount EverestSagarmathaChomolungma', 'Mount Everest')

    Rank[dp 1]  ... Country (disputed claims in italics)
0            1  ...                           NepalChina
1            2  ...              Pakistan[dp 8]China[12]
2            3  ...                           NepalIndia
3            4  ...                           NepalChina
4            5  ...                           NepalChina
..         ...  ...                                  ...
115        104  ...                                China
116        105  ...                           NepalChina
117        106  ...                   BhutanChina[dp 18]
118        107  ...     IndiaChina[dp 10][dp 11]'[dp 12]
119        108  ...                       Pakistan[dp 8]

[120 rows x 13 columns]

Lets import re for regular experssion.

---

In [14]:
import re

In [22]:
df1.columns

Index(['Rank[dp 1]', 'Mountain name(s)', 'm', 'ft', 'm', 'ft', 'Range',
       'Coordinates[dp 4]', 'Parent mountain[dp 5]', '1st', 'y', 'n',
       'Country (disputed claims in italics)'],
      dtype='object')

lets use lamda function to replace contains with in big brackets

---

In [17]:
col = df1.columns.map(lambda s: re.sub(r"\[(.+)\]","",s))
col

Index(['Rank', 'Mountain name(s)', 'm', 'ft', 'm', 'ft', 'Range',
       'Coordinates', 'Parent mountain', '1st', 'y', 'n',
       'Country (disputed claims in italics)'],
      dtype='object')

we remove [dp 1] and others too.

---
lets remove small braket to making new column name.

In [18]:
new= col.map(lambda s : re.sub(r"\((.+)\)","",s))
new

Index(['Rank', 'Mountain name', 'm', 'ft', 'm', 'ft', 'Range', 'Coordinates',
       'Parent mountain', '1st', 'y', 'n', 'Country '],
      dtype='object')

Now remove space between columns name creation new1 

---

In [19]:
new1=new.map(lambda s : re.sub(r" ","",s))
new1

Index(['Rank', 'Mountainname', 'm', 'ft', 'm', 'ft', 'Range', 'Coordinates',
       'Parentmountain', '1st', 'y', 'n', 'Country'],
      dtype='object')

since we remove all brakets and spaces, Lets make the capatalized

In [20]:
new1.map(lambda s : s.capitalize())

Index(['Rank', 'Mountainname', 'M', 'Ft', 'M', 'Ft', 'Range', 'Coordinates',
       'Parentmountain', '1st', 'Y', 'N', 'Country'],
      dtype='object')

we have all columns name cleared and capitalized.

# Lets see what's in the last column

In [21]:
df1.iloc[:,-1]

0                            NepalChina
1               Pakistan[dp 8]China[12]
2                            NepalIndia
3                            NepalChina
4                            NepalChina
                     ...
115                               China
116                          NepalChina
117                  BhutanChina[dp 18]
118    IndiaChina[dp 10][dp 11]'[dp 12]
119                      Pakistan[dp 8]
Name: Country (disputed claims in italics), Length: 120, dtype: object

Earlier we use regular experssion for columns now i think we need to use it as for row. removing all the extra stuffs from data.

I tried few way but coudnt figure out always got error