<a href="https://colab.research.google.com/github/ashpou1/data-processing-4313/blob/main/Dates%2016.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ASHOK SHARMA POUDEL  
#218380  
#DATA PROCESSING VISUALIZATION  4313 
#DR. NICHOLAS JACOB

In [20]:

import pandas as pa

df = pa.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/IOT-temp.csv')

df.head()

                                    id  room_id/id  ... temp  out/in
0  __export__.temp_log_196134_bd201015  Room Admin  ...   29      In
1  __export__.temp_log_196131_7bca51bc  Room Admin  ...   29      In
2  __export__.temp_log_196127_522915e3  Room Admin  ...   41     Out
3  __export__.temp_log_196128_be0919cf  Room Admin  ...   41     Out
4  __export__.temp_log_196126_d30b72fb  Room Admin  ...   31      In

[5 rows x 5 columns]



What is the largest interval inbetween temperature checks?


What is the average datetime?


What was the average outside temperature on '11-09-2018'?

In [7]:
df.dtypes

id            object
room_id/id    object
noted_date    object
temp           int64
out/in        object
dtype: object

In [16]:
df.noted_date=pa.to_datetime(df.noted_date,format='%m/%d/%Y %H:%M')

What is the minimum and maximum date and time?

---

In [17]:
df.noted_date.min()

Timestamp('2018-01-11 00:06:00')

In [18]:
df.noted_date.max()

Timestamp('2018-12-10 23:55:00')

largest time gap

---